* {
    padding: 0;
    margin: 0;

    --bg-color: #0c0d14;
    --fg-color: #ffffff;
}


/* Surcharges des element HTML de base */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    min-height: 100vh;
}

input, button {
    border: none;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

nav > div{
    padding: 1rem;
}




/* Déclaration de classes utilitaires */
.flex-between {
    display: flex;
    justify-content: space-between;
}

.none {
    display: none;
}

.m-auto {
    margin: auto;
}

.error-border {
    border: 1px solid red;
}

.error {
    color: red;
}

.msg-box {
    padding: 9px;
    border-radius: 12px;
    text-align: center;

    margin-top: 47px;
    margin-bottom: 47px;
}

.bigger {
    font-size: 25px;
}

.flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.bg-green {
    background-color: #42e0ce;
}

.bg-red {
    background-color: #ee6677;
}

.X {
    background-color: #b062e3;
}

.fg-O {
    color: #18bc9c !important;
}

.fg-X {
    color: #ee6677 !important;
}

.fg {
    color: #161618;
}

.bolder {
    font-weight: 900;
}




/* Définitions des classes CSS */

/* GÉNÉRALITÉS */
.container {
    margin: 20px 12.5vw;
}

button, .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.button {
    padding: 22px 31px;
    justify-content: center;
}

button {
    padding: 10px;
}

button i {
    font-size: 30px;
}


/* NAVBAR / HEADER */

nav {
    background-color: #1e1f30;
}


.header {
    max-width: 85vw;
    margin: auto
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar li {
    list-style: none;
    margin: auto;
    padding: 0px 10px;
}

.navbar li a i {
    vertical-align: middle;
}


.title a {
    font-weight: 700;
    padding-left: 10px;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #f9faff;
    background-color: #6842ff;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 700;
}

.profile-button {
    font-size: 34px;
}

.profile-button:hover {
    color: #6842ff;
    transition: all 0.5s;
}

#header-login-button {
    display: flex;
    width: 80px;
    height: 25px;
    justify-content: center;
}

#header-login-button i {
    margin: auto;
    transition: transform 0.5s;
}

#header-login-button span {
    margin: auto;
}

#header-login-button:hover span {
    color: #6842ff;
    transition: all 0.2s;
}

#header-login-button:hover i {
    transform: translateX(27px);
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    flex-direction: column;

    background-color: #6842ff;
    z-index: 1;

    border-radius: 10px;
}

.dropdown-content a {
    padding: 15px 30px;;
    border: 1px solid #1e1f30;
}

.dropdown-content a:hover {
    background-color: #1e1f30;
}

.dropdown-content a span, .dropdown-content a i {
    font-size: 18px;
}



/* 117 */

/* INDEX PAGE  */
/* 
linear gradient
.body-title span {
    background: linear-gradient(315deg, hsl(276, 79%, 69%) 25%, hsl(173, 75%, 47%));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.index-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.main-img {
    width: 80%;
    height: 65%;
    margin: 0 auto;
    padding: 0px !important;
}

.button-wrapper {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text, .play-icon {
    transition: top .5s;
}

.play-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.index-button {
    --width: 100px;
    --height: 70px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: #6842ff;
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
    font-size: 22px;
    font-weight: bold;
    border-radius: 42px;
    color: #fff;
    padding: 0px 85px;
  }
  
  .index-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .index-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .index-button::after,.index-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    width: auto;
    height: auto;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.game-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.game-icon {
    transition: top 0.5s;
  }
  
  .game-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game-icon svg { 
    width: 24px;
    height: 24px;
  }
  
  .index-button:hover {
    background: #1e1f30;
  }
  
  .index-button:hover .text {
    top: -100%;
  }
  
  .index-button:hover .game-icon {
    top: 0;
  }
  
  .index-button:hover:before,.index-button:hover:after {
    opacity: 1;
    visibility: visible;
    
  }
  
  .index-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .index-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  


/* Login / Signup page */
.auth-form {
    height: calc(100vh - 110px);
    display: flex;
}

.auth-form form {
    margin: auto;
    border: 1px solid black; 
    transition: all .3s;
    padding: 20px;
    border-radius: 5px;

    color: white;
    font-weight: 700;
    background-color: #1e1f30;
}

.auth-form .input-form {
    border: 3px solid #6842ff;
    width: 40vw;
    height: 40px;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 2px;
    background-color: #0c0d14;
    color: white;

    font-size: 16px;
}

.auth-form .input-form:focus {
    border: 3px solid white;
}

/* .auth-form .input-form::placeholder {
    color: #1e1f30;
    opacity: 1; 
} 
*/

.auth-form button {
    border: 3px solid #6842ff;
    background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all .5s;
}

.auth-form button:hover {
    background-color: #6842ff;
}

.auth-form .icon {
    text-align: center;
    font-size: 55px;
    color: white;
    margin: 20px 0px;
}

.auth-form .icon span {
    background-color: #6842ff;
    padding: 7px 19px;
    border-radius: 100%;
}

.account-creation {
    font-weight: 500;
}

.account-creation a {
    color: #6842ff;
}


/* Play page */
.play-button {
    padding: 20px 80px;
    width: 100px;
}


.game {
    margin-top: 10vh;
    color: #1d2124;
    background-image: linear-gradient(40deg,hsl(275.5, 83.7%, 75.9%),hsl(168.9, 79.9%, 62.9%));
    text-align: center;
    border-radius: .75rem;
    font-weight: 700;
    padding: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    overflow: hidden;
}




/* Morpion page */
#morpion .col {
    display: flex;
}

#morpion .col .case {    
    background-color: #0c0d14;
    font-weight: 900;
    text-align: center;
    padding: 7vh 7vw;
    padding-top: 6vh;
    height: 25vh;
    width: 30vw;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

#morpion .col .case:hover {
    background-color: rgba(104,66,255, 0.3);
}

#result {
    text-align: center;
    border-radius: 10px;
    margin: 15px 4px;
    padding: 10px;
    font-weight: 900;
}


.loader {
    width: 13px;
    height: 13px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 5px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.right-bottom, .right-left-bottom, .left-bottom {
    border-top: none !important;
} 

.left-bottom, .top-left-bottom, .top-left{
    border-right: none !important;
} 

.top-right-bottom, .top-right, .right-bottom {
    border-left: none !important;
} 

.top-right, .top-right-left, .top-left  {
    border-bottom: none !important;
} 

.border-all {
    border: 5px solid #6842ff;
} 


/* Profile page */
.profile-container {
    width: 92vw;
    margin-top: 4vw;
    margin-left: 4vw
}

.banner {
    position: relative;
    height: 19vh;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    background: linear-gradient(315deg, hsl(276, 79%, 69%) 25%, hsl(173, 75%, 47%));
}

.absolute {
    position: absolute;
}

.informations {
    color: #5e5e5e;
    z-index: 10;
    width: calc(92vw - 10%);
    height: 160px;
    margin-left: 5%;
    margin-top: 10px;
}

.profile-name {
    position: absolute;
    border: 5px solid #fff;
    color: #fff;
    background-color: #bababa;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    user-select: none;
    font-family: Avenir;
    top: -40%;
    left: 0;
}

.profile-info {
    margin-left: 190px;
    color: #fff;
}

.mail {
    font-weight: bolder;
    margin-bottom: 0 !important;
    font-size: 22px;
}

.joined {
    font-size: 15px;
}

.pro-buttons {
    margin-left: auto;
    margin-top: 15px;
}

.pro-buttons .button {
    background-color: #a14fd6;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    border: none;
    height: 23px;
    width: 23px;
}

.pro-cards {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3%;
    height: 25vh;
}

.relative {
    position: relative;
}

.pro-cards h5 {
    margin-bottom: 14px;
    font-size: 1.25rem;
    padding-left: 4px;
    padding-top: 14px;
}

.patch-approximatif {
    border: 3px solid rgba(161,79,214,.2);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

.pro-cards .commentbar-top {
    position: sticky;
    top: 0;
    background-color: #161618;
    z-index: 2;
}

.pro-cards .more-infos {
    box-shadow: rgba(161, 79, 214, 0.2) 0px 0px 0px 3px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 3px;
    background-color: #161618;
    width: 47%;
    height: 35vh;
    border-radius: 8px;
    padding: 10px;
    padding-top: 0px;
    overflow: scroll;
}

.pro-cards .more-infos p {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    height: 100%;
    color: #161618;
}

.info {
    padding: 25px;
    height: 65%;
}

.info .card {
    width: 33%;
    text-align: center;
    background-color: #22cebe;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.info .card span {
    font-weight: 700;
    color: #161618;
}


.stats {
    font-weight: 900 !important;
    font-size: 75px;
    margin: auto;
}



.battle {
    background-color: #22cebe;
    display: flex;
    padding: 15px;
    margin: 15px 10px;
    border-radius: 5px;
}

.trophy {
    background-color: #18bc9c !important;
}

.x-circle {
    background-color: #ee6677 !important;
}

.transfer {
    background-color: #a14fd6 !important;
}

.profile-link {
    font-weight: 700;
    color: white;
}

.settings-banner {
    font-size: 50px;
    font-weight: 700;
    display: flex; 
    align-items: center; 
    padding-left: 70px;
} 