* {
    padding: 0;
    margin: 0;

    --bg-color: #0c0d14;
    --fg-color: #ffffff;
    --purple: #6842ff;
}


/***************************************************/
/* Modifications du style des balises HTML de base */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    min-height: 100vh;
}

input, button {
    border: none;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

nav > div{
    padding: 1rem;
}
/***************************************************/



/***************************************************/
/*       Déclaration des classes utilitaires       */
.flex-between {
    display: flex;
    justify-content: space-between;
}

.none {
    display: none;
}

.m-auto {
    margin: auto;
}

.error-border {
    border: 1px solid red;
}

.error {
    color: red;
}

.center {
    justify-content: center;
}

.msg-box {
    padding: 9px;
    border-radius: 12px;
    text-align: center;

    margin-top: 47px;
    margin-bottom: 47px;
}

.bigger {
    font-size: 25px;
}

.flex {
    display: flex !important;
}

.column {
    flex-direction: column;
}

.w-100 {
    width: 100% !important;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.h-100 {
    height: 100%;
}

.mt-auto {
    margin-top: auto;
}

.bg-green {
    background-color: #42e0ce;
}

.bg-red {
    background-color: #ee6677;
}

.X {
    background-color: #b062e3;
}

.fg-O {
    color: #18bc9c !important;
}

.fg-X {
    color: #ee6677 !important;
}

.fg {
    color: #161618;
}

.bolder {
    font-weight: 900;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
/***************************************************/



/**************************************************/
/*          Définitions des classes CSS           */

/* GÉNÉRALITÉS */
.container {
    margin: 20px 12.5vw;
}

button, .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.button {
    padding: 22px 31px;
    justify-content: center;
}

button {
    padding: 10px;
}

button i {
    font-size: 30px;
}
/**************************************************/



/**************************************************/
/*            Stylisation de la navbar            */
nav {
    background-color: #1e1f30;
}

nav .header {
    max-width: 85vw;
    margin: auto
}

nav .navbar {
    display: flex;
    gap: 10px;
}

nav .navbar li {
    list-style: none;
    margin: auto;
    padding: 0px 10px;
}

nav .navbar li a i {
    vertical-align: middle;
}

nav .title a {
    font-weight: 700;
    padding-left: 10px;
    margin: auto;
}

nav .link {
    text-decoration: none;
    color: #f9faff;
    background-color: var(--purple);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 700;
}

nav .profile-button {
    font-size: 34px;
}

nav .profile-button:hover {
    color: var(--purple);
    transition: all 0.5s;
}

nav .header-login-button {
    display: flex;
    min-width: max-content;
    width: 80px;
    height: 25px;
    justify-content: center;
}

nav .header-login-button i {
    margin: auto;
    transition: transform 0.5s;
}

nav .header-login-button span {
    margin: auto;
}

nav .header-login-button:hover span {
    color: var(--purple);
    transition: all 0.2s;
}

nav .header-login-button:hover i {
    transform: translateX(27px);
}

nav .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    flex-direction: column;
    left: -50px;
    background-color: var(--purple);
    z-index: 1;

    border-radius: 10px;
}

nav .dropdown-content a {
    padding: 15px 30px;;
    border: 1px solid #1e1f30;
}

nav .dropdown-content a:hover {
    background-color: #1e1f30;
}

nav .dropdown-content a span, 
nav .dropdown-content a i {
    font-size: 18px;
}
/**************************************************/



/**************************************************/
/*         Stylisation de la page d'index         */
 

/*linear gradient*/
/*.body-title span {
    background: linear-gradient(315deg, hsl(276, 79%, 69%) 25%, hsl(173, 75%, 47%));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.up-down {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.index-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.main-img {
    width: 80%;
    height: 65%;
    margin: 0 auto;
    padding: 0px !important;
}

.button-wrapper {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text, .play-icon {
    transition: top .5s;
}

.play-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.index-button {
    --width: 100px;
    --height: 70px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--purple);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
    font-size: 22px;
    font-weight: bold;
    border-radius: 42px;
    color: #fff;
    padding: 0px 85px;
}
  
.index-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}
  
.index-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}
  
.index-button::after,.index-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    width: auto;
    height: auto;
}
  
.text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button-wrapper,.text,.game-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}
  
.text {
    top: 0
}
  
.text,.game-icon {
    transition: top 0.5s;
}
  
.game-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.game-icon svg { 
    width: 24px;
    height: 24px;
}
  
.index-button:hover {
    background: #1e1f30;
}
  
.index-button:hover .text {
    top: -100%;
}
  
.index-button:hover .game-icon {
    top: 0;
}
  
.index-button:hover:before,.index-button:hover:after {
    opacity: 1;
    visibility: visible; 
}
  
.index-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}
  
.index-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


.game {
    margin-top: 10vh;
    color: #1d2124;
    background-image: linear-gradient(40deg,hsl(275.5, 83.7%, 75.9%),hsl(168.9, 79.9%, 62.9%));
    text-align: center;
    border-radius: .75rem;
    font-weight: 700;
    padding: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    overflow: hidden;
}
/**************************************************/

 
  
/***************************************************/
/*   Stylisation des pages de login et de signup   */
#auth {
    height: calc(100vh - 110px);
    display: flex;
}

#auth form {
    margin: auto;
    border: 1px solid black; 
    transition: all .3s;
    padding: 20px;
    border-radius: 5px;

    color: white;
    font-weight: 700;
    background-color: #1e1f30;
}

#auth .input-form {
    border: 3px solid var(--purple);
    width: 40vw;
    height: 40px;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 2px;
    background-color: #0c0d14;
    color: white;

    font-size: 16px;
}

#auth .input-form:focus {
    border: 3px solid white;
}

#auth button {
    border: 3px solid var(--purple);
    background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all .5s;
}

#auth button:hover {
    background-color: var(--purple);
}

#auth .icon {
    text-align: center;
    font-size: 55px;
    color: white;
    margin: 20px 0px;
}

#auth .icon span {
    background-color: var(--purple);
    padding: 7px 19px;
    border-radius: 100%;
}

#auth .account-creation {
    font-weight: 500;
}

#auth .account-creation a {
    color: var(--purple);
}
/***************************************************/



/******************************************************/
/* Stylisation de la page de jeu affichant le morpion */

#morpion .col {
    display: flex;
}

#morpion .col .case {    
    background-color: #0c0d14;
    font-weight: 900;
    text-align: center;
    padding: 7vh 7vw;
    padding-top: 6vh;
    height: 25vh;
    width: 30vw;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

#morpion .col .case:hover {
    background-color: rgba(104,66,255, 0.3);
}

#morpion #result {
    text-align: center;
    border-radius: 10px;
    margin: 15px 4px;
    padding: 10px;
    font-weight: 900;
}

#morpion .loader {
    width: 13px;
    height: 13px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 5px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


#morpion .right-bottom, #morpion .right-left-bottom, #morpion .left-bottom {
    border-top: none !important;
} 

#morpion .left-bottom, #morpion .top-left-bottom, #morpion .top-left{
    border-right: none !important;
} 

#morpion .top-right-bottom, #morpion .top-right, #morpion .right-bottom {
    border-left: none !important;
} 

#morpion .top-right, #morpion .top-right-left, #morpion .top-left  {
    border-bottom: none !important;
} 

#morpion .border-all {
    border: 5px solid var(--purple);
} 
/******************************************************/



/*******************************************************/
/*    Stylisation des page de profil et de settings    */
#settings {
    width: 92vw;
    margin-top: 4vw;
    margin-left: 4vw
}

#settings .banner {
    position: relative;
    height: 19vh;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    background: linear-gradient(315deg, hsl(276, 79%, 69%) 25%, hsl(173, 75%, 47%));
}

#settings .informations {
    color: #5e5e5e;
    z-index: 10;
    width: calc(92vw - 10%);
    height: 160px;
    margin-left: 5%;
    margin-top: 10px;
}

#settings .profile-name {
    position: absolute;
    border: 5px solid #fff;
    color: #fff;
    background-color: #bababa;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    user-select: none;
    font-family: Avenir;
    top: -40%;
    left: 0;
}

#settings .profile-info {
    margin-left: 190px;
    color: #fff;
}

#settings .mail {
    font-weight: bolder;
    margin-bottom: 0 !important;
    font-size: 22px;
}

#settings .joined {
    font-size: 15px;
}

#settings .pro-buttons {
    margin-left: auto;
    margin-top: 15px;
}

#settings .pro-buttons .button {
    background-color: #a14fd6;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    border: none;
    height: 23px;
    width: 23px;
}

#settings .pro-cards {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3%;
    height: 25vh;
}

#settings .pro-cards h5 {
    margin-bottom: 14px;
    font-size: 1.25rem;
    padding-left: 4px;
    padding-top: 14px;
}

#settings .pro-cards .commentbar-top {
    position: sticky;
    top: 0;
    background-color: #161618;
    z-index: 2;
}

#settings .pro-cards .more-infos {
    box-shadow: rgba(161, 79, 214, 0.2) 0px 0px 0px 3px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 3px;
    background-color: #161618;
    width: 47%;
    height: 35vh;
    border-radius: 8px;
    padding: 10px;
    padding-top: 0px;
    overflow: scroll;
}

#settings .pro-cards .more-infos p {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    height: 100%;
    color: #161618;
}

#settings .info {
    padding: 25px;
    height: 65%;
}

#settings .info .card {
    width: 33%;
    text-align: center;
    background-color: #22cebe;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#settings .info .card span {
    font-weight: 700;
    color: #161618;
}

#settings .stats {
    font-weight: 900 !important;
    font-size: 75px;
    margin: auto;
}

#settings .battle {
    background-color: #22cebe;
    display: flex;
    padding: 15px;
    margin: 15px 10px;
    border-radius: 5px;
}

#settings .trophy {
    background-color: #18bc9c !important;
}

#settings .x-circle {
    background-color: #ee6677 !important;
}

#settings .transfer {
    background-color: #a14fd6 !important;
}

#settings .profile-link {
    font-weight: 700;
    color: white;
}

/* settings page  */
#settings .settings-banner {
    font-size: 50px;
    font-weight: 700;
    display: flex; 
    align-items: center; 
    padding-left: 70px;
} 

#settings .patch-approximatif {
    border: 3px solid rgba(161,79,214,.2);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

#settings .settings-container {
    height: 51vh !important;
}

#settings .settings-container .content {
    margin-top: 20px;
    height: calc(100% - 100px);
}

#settings .settings-container .content button {
    font-weight: 800;
    color: white;
    min-width: fit-content;
    width: 400px;
}

#settings .X:hover {
    background-color: #cc97ee;
    transition: all 0.5s;
}

#settings .bg-red:hover {
    background-color: #d9828d;
    transition: all 0.5s;
}
