* {
    padding: 0;
    margin: 0;

    --bg-color: #161618;
    --fg-color: #ffffff;
}

input, button {
    border: none;
}

input:focus {
    outline: none;
}

.m-auto {
    margin: auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
        
    background-color: var(--bg-color);
    color: var(--fg-color);

    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}
    
.hidden {
    display: none;
}

.error-border {
    border: 1px solid red;
}

.error {
    color: red;
}

.success {
    color: green;
}

nav > div{
    padding: 1rem;
}

.container {
    margin: 20px 12.5vw;
}

.header {
    max-width: 75vw;
    margin: auto
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar li {
    list-style: none;
    margin: auto;
    padding: 0px 10px;
}

.navbar li a i {
    vertical-align: middle;
}

.title {
    display: flex;
}

.title a {
    font-weight: 700;
    padding-left: 10px;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #6aeedf;
}

.active {
    font-weight: 600;
}

.none {
    display: none;
}

.bigger {
    font-size: 25px;
}

.body-title {
    font-size: 90px;
    line-height: 90px;
    padding-top: 4%;
    margin-bottom: 30px;
}

.body-title span {
    background: linear-gradient(315deg, hsl(276, 79%, 69%) 25%, hsl(173, 75%, 47%));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex {
    display: flex;
}

/* Forms style */



button, .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 17px;
    font-size: 17px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    gap: 7px;
    cursor: pointer;
}

button i {
    font-size: 30px;
} 

.auth-form {
    height: calc(100vh - 110px);
    display: flex;
}

.auth-form form {
    margin: auto;
    border: 1px solid black; 
    transition: all .3s;
    padding: 20px;
    border-radius: 5px;

    color: #1d2124;
    font-weight: 700;
    background-image: linear-gradient(40deg,hsl(275.5, 83.7%, 75.9%),hsl(168.9, 79.9%, 62.9%));
}

.auth-form .input-form {
    border: 3px solid #1d2124;
    width: 40vw;
    height: 40px;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 2px;
    background-color: #1d2124;
    color: white;

    font-size: 16px;
}

.auth-form .input-form:focus {
    border: 3px solid white;
}

.auth-form button, .play-button {
    border: 3px solid #1d2124;
    background-color: rgba(0,0,0,0);
    color: #1d2124;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;

    transition: all .5s;
}

.auth-form button:hover, .play-button:hover {
    background-color: #1d2124;
    color: white;
}

.auth-form .icon {
    text-align: center;
    font-size: 55px;
    color: white;
    margin: 20px 0px;
}

.auth-form .icon span {
    background-color: #1d2124;
    padding: 10px 20px;
    border-radius: 100%;
}


.purple-button {
    background: rgb(188, 114, 238);
}

.green-button {
    background: rgb(30, 210, 189);
}

.green-button:hover {
    background: hsl(173, 90%, 30%);
    transition: all 0.5s;
}

.purple-button:hover {
    background-color: hsl(276, 64%, 48%);
    transition: all 0.5s;
}

.game {
    margin-top: 10vh;
    color: #1d2124;
    background-image: linear-gradient(40deg,hsl(275.5, 83.7%, 75.9%),hsl(168.9, 79.9%, 62.9%));
    text-align: center;
    border-radius: .75rem;
    font-weight: 700;
    padding: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    overflow: hidden;
}

.play-button {
    width: 100px;
}
#morpion .col {
    display: flex;

}

#morpion .col .case {
    color: #1d2124;
    background-color: hsl(276, 70%, 64%);
    color: #161618;
    font-weight: 900;
    text-align: center;
    border-radius: .75rem;
    padding: 7vh 7vw;
    height: 23vh;
    width: 30vw;
    justify-content: center;
    font-size: 60px;
    margin: 4px;
    cursor: pointer;

    transition: all 0.5s;
}

#morpion .col .case:hover {
    background-color: hsl(276, 85%, 55%);
}


#share {
    margin-top: 150px;
    font-size: 12px;
}

#share a {
    color: #5e178e;
}

#result {
    text-align: center;
    background-color: #42e0ce;
    border-radius: 10px;
    margin: 15px 10px;
    padding: 10px;
    font-weight: 900;
}